html {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    max-width: 60em;
    margin: 1em;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(41, 39, 39);
    padding: 0.4em 0.8em;
    text-align: left;
}

th { 
    font-weight: bold
}

li > p {
    margin: 0;
}

li {
    margin-bottom: 0.2em;
}

pre {
    padding: 1em;
    background-color: #eee;
}

span[title] {
    text-decoration: underline dashed;
}
